<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>

  <body>
    <header>
      <img src="/img/logo-mercado-liebre.svg" alt="Logo" />

      <p>Lugar para poner la barra de búsqueda</p>

      <p>Comprá en cuotas y sin tarjetas de credito</p>

      <nav>
        <ul>
          <li>
            <a href="#">Ofertas</a>
          </li>

          <li>
            <a href="#">Tiendas Oficiales</a>
          </li>

          <li>
            <a href="#">Vender</a>
          </li>

          <li>
            <a href="#">Ayuda</a>
          </li>
        </ul>

        <ul>
          <li>
            <a href="#">Creá tu cuenta</a>
          </li>

          <li>
            <a href="#">Ingresá</a>
          </li>

          <li>
            <a href="#">Mis Compras</a>
          </li>
        </ul>
      </nav>
    </header>

    <main>
      <img width="400" src="/img/img-home-banner.jpg" alt="Banner" />

    
      <section>
        <h4>Basado en tu ultima visita</h4>

        <article>
          <img
            width="300"
            src="/img/img-cafetera-moulinex.jpg"
            alt="Imagen de la cafetera"
          />
          <h5>$6.770</h5>
          <h5>40% OFF</h5>
          <h5>Cafetera Moulinex</h5>
        </article>

        <article>
          <img
            width="300"
            src="/img/img-macbook-pro-2019.jpg"
            alt="Imagen de MacBook "
          />
          <h5>$230.000</h5>
          <h5>20% offF</h5>
          <h5>MacBook Pro 2019</h5>
        </article>

        <article>
          <img
            width="300"
            src="/img/img-samsung-galaxy-s10.jpg"
            alt="Imagen del Samsung Galaxy"
          />
          <h5>$70.500</h5>
          <h5>10% off</h5>
          <h5>Samsung Galaxy S10</h5>
        </article>

        <article>
          <img
            width="300"
            src="/img/img-tv-samsung-smart.jpg"
            alt="Imagen del SmartTv"
          />
          <h5>$23.200</h5>
          <h5>5% off</h5>
          <h5>SmartTv Samsung 43"</h5>
        </article>
      </section>

      <section>
        <h4>Sección de Ofertas</h4>

        <article>
          <img
            width="300"
            src="/img/img-cafetera-moulinex.jpg"
            alt="Imagen de la cafetera"
          />
          <h5>$6.770</h5>
          <h5>40% OFF</h5>
          <h5>Cafetera Moulinex</h5>
        </article>

        <article>
          <img
            width="300"
            src="/img/img-macbook-pro-2019.jpg"
            alt="Imagen de MacBook "
          />
          <h5>$230.000</h5>
          <h5>20% offF</h5>
          <h5>MacBook Pro 2019</h5>
        </article>

        <article>
          <img
            width="300"
            src="/img/img-samsung-galaxy-s10.jpg"
            alt="Imagen del Samsung Galaxy"
          />
          <h5>$70.500</h5>
          <h5>10% off</h5>
          <h5>Samsung Galaxy S10</h5>
        </article>

        <article>
          <img
            width="300"
            src="/img/img-tv-samsung-smart.jpg"
            alt="Imagen del SmartTv"
          />
          <h5>$23.200</h5>
          <h5>5% off</h5>
          <h5>SmartTv Samsung 43"</h5>
        </article>
      </section>
    </main>

    <footer style="padding: 20px; text-align: justify">
      <section>
        <h4>Pagá con tarjeta o en efectivo</h4>
        <p>
          Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o
          efectivo en puntos de pago. ¡Y siempre es seguro!
        </p>
      </section>

      <section>
        <h4>Envío gratis desde $ 2.500</h4>

        <p>
          Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en
          miles de productos. Es un beneficio de Mercado Puntos.
        </p>
      </section>

      <section>
        <h4>Seguridad, de principio a fin</h4>

        <p>
         ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.
        </p>
      </section>

      <section>
        <h4>Copyright © 1999-2020 MercadoLiebre S.R.L.</h4>
      </section>
    </footer>
  </body>
</html>
