<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mercado Liebre</title>
    <!--Hoja de Estilos-->
    <link rel="stylesheet" href="/css/styles.css" />
   
    
    <!-- Google Fonts: Roboto-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap"
      rel="stylesheet"
    />

    <!--Font-awesome: iconos-->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />
  </head>

  <body>
      <header class="container-header">
      
        <div class="container-header-box">
       
          <img class="header-logo" src="/img/logo-mercado-liebre.svg" alt="Logo" />
       
          <div class="header-search">
            <form action="#" method="get" target="_self">
              <input
                type="search"
                name="product-search"
                placeholder="Buscar productos,marcas "
              />
              <div>
                <button class="search-button" type="submit">
                  <i class="fas fa-search"></i>
                </button>
              </div>
            </form>
          </div>
          <div class="header-buy">
            <p>
              <i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjetas de crédito
            </p>
          </div>
        </div>
       
     
      <nav class="header-botton-navbar">
        <ul class="navbar-botton-left">
          <li><a href="#">Ofertas</a></li>
          <li><a href="#">Tiendas Oficiales</a></li>
          <li><a href="#">Vender</a></li>
          <li><a href="#">Ayuda</a></li>
        </ul>

        <ul class="navbar-botton-right">
          <li><a href="/register">Creá tu cuenta<i class="fas fa-id-card"></i></a></li>
            <li><a href="/login">Ingresá<i class="fas fa-sign-in-alt"></i></a></li>
              <li><a href="#">Mis Compras<i class="fas fa-shopping-basket"></i></a></li>
        </ul>
      </nav>

      <div class="burger-menu">
        <i class="fas fa-bars"></i>
      </div>
    </header>

    <main class="container-main">
     <section class="container-users">
      <h2 class="fw-300 text-center">Formulario de Registro</h2>

      <form class="register"action="" >

          <fieldset class="register-profile">
              <legend> Información Personal </legend>

              <label for="name">Nombre y Apellido </label>
              <input type="text" name="name" id="name" placeholder="Tu Nombre y Apellido" pattern="[a-z,A-Z,À-ÿ,\s,\S]{5,40}" required  title=" Debes ingresar Nombre y Apellido por ejemplo: Juan Montero">
                            
              <label for="date">Fecha de Nacimiento</label>
              <input type="date" id="date" placeholder="Tu Fecha de Nacimiento" required >

              <label for="direction">Domicilio </label>
              <input type="text" name="direction" id="direction" placeholder="Tu Domicilio" pattern="[a-z,A-Z,À-ÿ,\s,\S,\d,\-]{7,60}" required title="Debes ingresar tu Domicilio  por ejemplo: Casa 4 Calle los Naranjos Barrio Parque Salta no se aceptan caracteres especiales (@,*´+)">

             
          </fieldset>

          <fieldset class="register-interests">

              <legend> Perfil de Usuario </legend>

              <label for="user">Nombre de Usuario </label>
              <input type="text" name="user" id="user" 
              pattern="[a-z,A-Z,À-ÿ,\s,\S,\d,\-]{7,60}"placeholder="Nombre de Usuario" required title="Debes ingresar un nombre de usuario  por ejemplo: sleep_q ; no se aceptan caracteres especiales (@,*´+)" >


              <h5>Elegi tu Rol</h5>
                <div class="user-profile">
                    <label for="shopper" class="shop-sales">
                    <input type="radio" name="profile" value="shopping" id="shopper" required>
                    Comprador</label>
                    <label for="sellesman">
                    <input type="radio" name="profile" value="sales" id="sellesman" required>
                    Vendedor</label>
                </div>
                <h5>Cuales son tus Interes</h5>
                <div class="user-Interests">
                  <label for="Electronics">
                  <input type="checkbox" name="Interest" value="Electro" id="Electronics">
                  Electro</label>
                  <label for="fashion">
                  <input type="checkbox" name="Interest" value="fashion" id="fashion">
                  Moda</label>
                  <label for="toystore">
                  <input type="checkbox" name="Interest" value="toys" id="toystore">
                  Juguetería</label>
                  <label for="healthylife">
                  <input type="checkbox" name="Interest" value="lifestyle" id="healthylife">
                  Vida sana</label>       
              </div>
              <label for="avatar">Foto de Perfil </label>
              <input type="file" name="avatar" id="avatar" accept=".jpg">
              <label for="password">Contraseña </label>
              <input type="password" name="password" id="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])\w\S{6,}"  placeholder="Ingresar Contraseña" title="Requisitos mínimos:
              6 caracteres, una mayúscula y una minúscula.
              Puede usar caracteres especiales (*/.}{¿'=, etc..)." required>
              <label for="repeat-password"> Confirmar Contraseña </label>
              <input type="password" name="repeat-password" id="repeat-password" placeholder="Repetir Contraseña" title="Requisitos mínimos:
              6 caracteres, una mayúscula y una minúscula.
              Puede usar caracteres especiales (*/.}{¿'=, etc..)." required>
          </fieldset>
          <div class="container-buttons">
          <div id="button-form">
            <p id="texto">Registrar</p>
            <input type="submit" id="button-register">
          </div>
          <div id="button-form">
            <p id="texto">Borrar</p>
            <input type="reset" id="button-reset">
          </div>
        </div>
         
      </form>
    </section>
    </main>

    <footer class="linkService">
      <section>
        <i class="fas fa-credit-card"></i>
        <h4>Pagá con tarjeta o en efectivo</h4>
        <p>
          Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o
          efectivo en puntos de pago. ¡Y siempre es seguro!
        </p>
      </section>

      <section>
        <i class="fas fa-gift"></i>
        <h4>Envío gratis desde $ 2.500</h4>

        <p>
          Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en
          miles de productos. Es un beneficio de Mercado Puntos.
        </p>
      </section>

      <section>
        <i class="fas fa-user-shield"></i>
        <h4>Seguridad, de principio a fin</h4>

        <p>
          ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas
          hacer, porque estás siempre protegid@.
        </p>
      </section>

      <section>
        <h6>Copyright © 1999-2020 MercadoLiebre S.R.L.</h6>
      </section>
    </footer>
  </body>
</html>
